@font-face {
	font-family: "Linux Libertine";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/assets/fonts/LinLibertine_R_G.ttf) format("truetype");
}

@font-face {
	font-family: "Linux Libertine";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(/assets/fonts/LinLibertine_RI_G.ttf) format("truetype");
}

@font-face {
	font-family: "Linux Libertine";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(/assets/fonts/LinLibertine_RB_G.ttf) format("truetype");
}

@font-face {
	font-family: "Linux Libertine";
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: url(/assets/fonts/LinLibertine_RBI_G.ttf) format("truetype");
}

@font-face {
	font-family: "Linux Biolinum";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/assets/fonts/LinBiolinum_R_G.ttf) format("truetype");
}

@font-face {
	font-family: "Linux Biolinum";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(/assets/fonts/LinBiolinum_RI_G.ttf) format("truetype");
}

@font-face {
	font-family: "Linux Biolinum";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url(/assets/fonts/LinBiolinum_RB_G.ttf) format("truetype");
}
