@import "tailwindcss";
@theme {
	--font-script: Rancho, ui-serif;
	--font-sans: "Linux Biolinum", "Merriweather Sans", ui-sans-serif;
	--font-serif: "Linux Libertine", ui-serif;

	--color-background: oklch(0.985 0.001 106.423);
	--color-background-darker: oklch(0.97 0.001 106.424);
	--color-background-dark: oklch(0.923 0.003 48.717);

	--color-border-main: oklch(0.97 0.001 106.424);
	--color-border-secondary: oklch(0.923 0.003 48.717);

	--color-text: oklch(0.21 0.034 264.665);
	--color-text-strong: oklch(0 0 0);
	--color-text-muted: oklch(0.373 0.034 259.733);
	--color-text-disabled: oklch(0.872 0.01 258.338);
	--color-text-subtle: oklch(0.707 0.022 261.325);

	--color-accent-blue-500: oklch(0.623 0.214 259.815);
	--color-accent-blue-100: oklch(0.932 0.032 255.585);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility font-variant-small-caps {
	font-variant-caps: small-caps;
}

@layer components {
	html {
		font-size: 16px;
		scroll-behavior: auto !important;
	}
	@media (max-width: 1280px) {
		html {
			font-size: 14px;
		}
	}
	@media (max-width: 640px) {
		html {
			font-size: 12px;
		}
	}

	body {
		@apply bg-stone-50;
	}

	.container-normal {
		@apply w-full max-w-(--breakpoint-xl) mx-auto px-3 py-4 relative;
	}

	.stdlink {
		@apply underline decoration-dotted hover:decoration-solid;
	}

	nav a[aria-current="page"] {
		@apply font-bold text-red-500;
	}
	.text {
		@apply font-serif max-w-[80ch] relative;
	}

	.text .page,
	.text .line,
	.text .aq,
	.text .ul,
	.text .dul,
	.text .it,
	.text .pe,
	.text .gr,
	.text .hb,
	.text .nr,
	.text .align,
	.text .insertion,
	.text .del,
	.text .fn,
	.text .anchor {
		@apply inline;
	}

	.text .aq {
		@apply font-sans;
	}

	.text .line {
		@apply inline;
	}

	.text .line.tab-1 {
		@apply inline-block w-4;
	}

	.text .line.tab-2 {
		@apply inline-block w-8;
	}

	.text .line.tab-3 {
		@apply inline-block w-12;
	}

	.text .line.tab-4 {
		@apply inline-block w-16;
	}

	.text .line.tab-5 {
		@apply inline-block w-20;
	}

	.text .line.tab-6 {
		@apply inline-block w-24;
	}

	.text .line.tab-7 {
		@apply inline-block w-28;
	}

	.text .line.tab-8 {
		@apply inline-block w-32;
	}

	.text br.index-1 {
		@apply hidden;
	}

	.text .page {
		@apply font-sans text-sm text-gray-500;
	}

	.text .page.index-1 {
		@apply hidden;
	}

	.text .ul {
		@apply underline;
	}

	.text .dul {
		@apply underline decoration-double;
	}

	.text .it {
		@apply italic;
	}

	.text .align.pos-right {
		@apply text-right;
		float: right;
	}

	.text .align.pos-center {
		@apply text-center inline-block;
		width: w-full;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.text .insertion::before {
		content: "⌞";
	}

	.text .insertion::after {
		content: "⌟";
	}

	.text .nr::before {
		content: "⸰";
	}

	.text .nr::after {
		content: "⸰";
	}

	.text .pe {
		@apply text-stone-600;
	}

	.text .del {
		@apply line-through;
	}

	.text .del .del::before {
		content: "";
		@apply absolute inset-x-0 top-1/2 h-px bg-black;
		top: 55%;
	}

	.text .sidenote {
		@apply block border-l-4 border-slate-200 pl-2 my-1;
	}

	.text .note,
	.text .hand-person,
	.text .sidenote-note,
	.text .sidenote-page,
	.text .sidenote-pos {
		@apply inline px-2 mr-2 w-full bg-gray-100 font-bold text-gray-700;
	}

	.text .sidenote-page::before {
		content: "S. ";
	}

	.text .sidenote-pos::before {
		content: "Pos: ";
	}

	.text .hand {
		@apply inline text-blue-950;
	}
}
