{{ $model := . }}
{{- range $i, $trad := (Tradition $model.Letter) -}}
	<div class="traditioncategory mb-6">
		<div class="tradition-header font-bold">
			{{- (App $trad.Reference).Name -}}
		</div>
		<div class="tradition-text text hyphens-auto font-sans">
			{{- Safe (ParseGeneric $model $trad.Content) -}}
		</div>
	</div>
{{- end -}}
